body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
}

.icon {
  height: 120px;
  width: 120px;
  border: 3px solid white;
  background-color: transparent;
  border-radius: 60px;
  margin-right: 10px;
  margin-bottom: 40px;
  cursor: pointer;
}

.emoji {
  width: 50px;

}

.header {
  font-size: 30px;
  font-weight: 700;
}

.js-result {
  font-size: 25px;
  font-weight: 700;
}

.js-score {
  margin-top: 50px;
}

.reset-score {
  background-color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.15s;
}

.reset-score:hover {
  font-weight: 600;
  opacity: 80%;
  transform: translateY(-2px);
}

.main {
  margin: 30px auto;
  border: 2px solid white;
  border-radius: 5px;
  width: fit-content;
  padding: 40px;
  background-color: black;
  min-width: 440px;
}